<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.net>
    <mailSettings>
      <smtp>
        <network xdt:Transform="Remove" />
      </smtp>
    </mailSettings>
  </system.net>

  <appSettings>
    <add key="LinkedInAPIKey" value="????" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="LinkedInAPISecret" value="????" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
    <add key="IdentityFromEmailAddress" value="???@??????.???" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>