@using Identity.Resources

@{
    ViewBag.Title = AccountResources.ForgotPasswordConfirmation_Title;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @Html.Raw(AccountResources.ForgotPasswordConfirmation_ReminderMessage)
    </p>
</div>