/*
** These would probably be better of imported from the Bootstrap .less files
*/
.data-grid + .sort-order {
  margin-top: -15px;
  margin-bottom: 15px;
}
.row-menu {
  width: 4.0em;
  text-align: center;
}
.paging-info-controls .control-wrapper {
  text-align: center;
}
.paging-info-controls .form-group {
  display: inline-block;
}
.paging-info-controls .form-control {
  display: inline-block;
}
.paging-info-controls .total-pages {
  display: inline-block;
  margin: 0 3.0em 0 0.5em;
  line-height: 2.5em;
}
.paging-info-controls input[type='number'] {
  width: 5.0em;
  text-align: center;
}
.paging-info-controls select {
  width: 5.0em;
}
.sort-expression-link {
  text-decoration: none !important;
}
.sort-expression-link .indicator {
  display: inline-block;
  margin-left: 0.3em;
  color: #777;
}
.sort-expression-link .indicator.fa-sort {
  color: #bbb;
}
.date-time-selector {
  display: inline-block;
}
.date-time-selector .date {
  float: left;
  display: inline-block;
  width: 9.0em;
  margin-right: 0.5em;
}
.date-time-selector .time {
  float: left;
  display: inline-block;
  width: 5.0em;
  margin-right: 0.5em;
}
.field-validation-indicator .success {
  color: #0c0;
}
.field-validation-indicator .failure {
  color: #c00;
}
.field-validation-indicator span {
  display: none;
}
.character-counter {
  color: #777777;
  margin: 0.1em 0 0.1em 1.0em;
  font-size: 0.9em;
}
